body {
  background-color: #4A5899;
  color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.container>div {
  display: flex;
  width: 20rem;
  height: 10rem;
  background-color: #8C5383;
  margin: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.next-button:hover {
  filter: brightness(1.1);
}

.container a {
  text-decoration: none;
  color: #E8E8E8;
}

.container h1 {
  font-size: 55px;
}

.container>div:last-child {
  background-color: #55917f;
}

.container .next-button {
  display: flex;
  height: 5em;
  justify-content: center;
  position: absolute;
  top: 80%;
  width: 10em;
}

.container .next-button h1 {
  text-align: center;
  font-size: 30px;
}

.container .frage-container {
  background-color: #5565af !important;
  border-radius: 10px;
  height: 40vh;
  position: absolute;
  top: 32%;
  width: 75vw;
}

.container .frage-container h1 {
  font-size: 40px;
  text-align: center;
}